@{
    ViewBag.Title = "Contact";
}
<section class="section section--results">
    <h1 class="section__title">Resultados de búsqueda</h1>
    <div class="products-grid">
        <article class="product-item">
            <img src="https://source.unsplash.com/random/3" alt="">
            <h1>$ 30.000</h1>
            <p>Nombre del producto que puede ser increíblemente demasiado largo</p>
        </article>
        <article class="product-item">
            <img src="https://source.unsplash.com/random/3" alt="">
            <h1>$ 30.000</h1>
            <p>Nombre del producto que puede ser increíblemente demasiado largo</p>
        </article>
        <article class="product-item">
            <img src="https://source.unsplash.com/random/3" alt="">
            <h1>$ 30.000</h1>
            <p>Nombre del producto que puede ser increíblemente demasiado largo</p>
        </article>
        <article class="product-item">
            <img src="https://source.unsplash.com/random/3" alt="">
            <h1>$ 30.000</h1>
            <p>Nombre del producto que puede ser increíblemente demasiado largo</p>
        </article>
        <article class="product-item">
            <img src="https://source.unsplash.com/random/3" alt="">
            <h1>$ 30.000</h1>
            <p>Nombre del producto que puede ser increíblemente demasiado largo</p>
        </article>
        <article class="product-item">
            <img src="https://source.unsplash.com/random/3" alt="">
            <h1>$ 30.000</h1>
            <p>Nombre del producto que puede ser increíblemente demasiado largo</p>
        </article>
        <article class="product-item">
            <img src="https://source.unsplash.com/random/3" alt="">
            <h1>$ 30.000</h1>
            <p>Nombre del producto que puede ser increíblemente demasiado largo</p>
        </article>
        <article class="product-item">
            <img src="https://source.unsplash.com/random/3" alt="">
            <h1>$ 30.000</h1>
            <p>Nombre del producto que puede ser increíblemente demasiado largo</p>
        </article>
    </div>
</section>