@{
    ViewBag.Title = "About";
}
<section class="section section--stores">
    <h1 class="section__title">Tiendas</h1>
    <div class="section--stores__container">
        <article class="store">
            <img src="https://source.unsplash.com/random/3" alt="" srcset="">
            <h1>Tienda 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ipsa quod minima cupiditate eligendi dolores architecto placeat animi, atque vitae consequatur nulla! Delectus ipsam, fuga itaque placeat temporibus reprehenderit nihil.</p>
        </article>
        <article class="store">
            <img src="https://source.unsplash.com/random/3" alt="" srcset="">
            <h1>Tienda 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ipsa quod minima cupiditate eligendi dolores architecto placeat animi, atque vitae consequatur nulla! Delectus ipsam, fuga itaque placeat temporibus reprehenderit nihil.</p>
        </article>
    </div>
</section>
