@model IEnumerable<IgnacioQuinteros.Models.Store>

@{
    ViewBag.Title = "Tiendas";
}
<section class="section section--stores">
    <h1 class="section__title">Tiendas</h1>
    <div class="section--stores__container">
        @foreach (var item in Model)
        {
            <article class="store">
                <img src="@item.ImageUrl" alt="" srcset="">
                <h1>@item.Title</h1>
                <p>@item.Address</p>
            </article>
        }
    </div>
</section>
